<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/master.css">

    <title>Add Item</title>
  </head>
  <body>
    <form id="itemAddForm" action="index.html" method="post">
      <input type="text" name="name" placeholder="Item name"><br>

      <input type="text" name="price" placeholder="Price"><br>

      <input type="text" name="unitPrice" placeholder="Price per unit"><br>

      <input type="text" name="unit" placeholder="Unit"><br>

      <input type="text" name="location" placeholder="Location"><br>

      <input type="text" name="date" placeholder="Date"><br>

      <input type="submit" value="Submit">
    </form>
    
    <div id="root"></div>

    <!-- JavaScript -->
    <script type="text/javascript" src="javascript/index.js"></script>
  </body>
</html>
